{% extends 'TroiswaPublicBundle:Main:index.html.twig' %}


{% block test %}
 
    <br>

    Fichier "bonjour.html.twig" affiche :
    Salut  Bonjour !!!




    <a href =" {{ path ('troiswa_public_homepage')}}"> Page d'acceuil </a>

    <br>

    {{ parent() }}


{% endblock %}









